
<script type="text/JavaScript">
$(function() {
setTimeout("location.reload(true);",2000);
});

</script>




<p>Index Usuario <%= session[:user_index] %></p>
<p>OFFSET <%= session[:offset] %></p>
<p>NEXT <%= session[:next] %></p>

</br>

<p><%= @events%></p>

<p><%=@qry %></p>

 





