
<div class="sliderMain"> 
<div class="pix_diapo">

                    <div data-thumb="images/thumbs/megamind1048.jpg">
                        <img src="images/slides/party_banner.jpg">
                        <div class="caption elemHover fromLeft">
                            This is a simple sliding image with caption. You can have more than one caption and decide the layout of the caption via css.
                        </div>
                    </div>
                    
                    <div data-thumb="images/thumbs/megamind1048.jpg">
                        <img src="images/slides/calendar_banner.jpg">
                        <div class="caption elemHover fromLeft">
                            This is a simple sliding image with caption. You can have more than one caption and decide the layout of the caption via css.
                        </div>
                    </div>
                           
            
                    
               </div><!-- #pix_diapo -->

</div>


<div class="index_menu">
	
	<div class="menu_container">
	
	<div class="menu_image">
		<%= image_tag "event_list.png" %>
		<p><h2><%= link_to 'Event List', lists_path %></h2></p>
		
		</div>
	
	
	<div class="menu_image">
		<%= image_tag "event_map.png" %>
		<p><h2><%= link_to 'Map', maps_path %></h2></p>
		
		</div>
		
		<div class="menu_image">
		<%= image_tag "calendar.png" %>
		<p><h2>Calendar</h2></p>
		
		</div>
	
	
	</div>
	
	</div>
	
	
	<script language="JavaScript">

$('.menu_image').mouseover(function() {
  $(this).stop().animate({
    opacity: 1,
    marginRight: "45px",
    marginLeft: "25px"
    
  }, 200);
});

$('.menu_image').mouseout(function() {
  $(this).stop().animate({
  	opacity: 0.5,
   marginRight: "40px",
   marginLeft: "20px"
  }, 200);
});
</script>


<script>
$(function(){
	$('.pix_diapo').diapo();
});

</script>
