<!-- Setear JS y CSS necesarios -->
<%- content_for(:head) do %>
<%= stylesheet_link_tag 'application' %>
<%= stylesheet_link_tag 'events' %>
<%= javascript_include_tag 'application' %>
<%= javascript_include_tag 'events' %>
<script type="text/javascript"
    src="http://plugins.learningjquery.com/expander/jquery.expander.js">
    </script>
<%- end %>

<script>
var ajax = false;
var valoffset = 0;
var filter = 0;
var search = 0;

$(document).ready(
	function(){
		//Filtros
		$('.filter').click (select);

		//
		$("#autocomplete").keypress(function(e){
        	if(e.which == 13){
       			search_button();
       		}
      	});

		// Autocomplete  
        $( "#autocomplete" ).autocomplete({
            minLength: 3,
            source: '<%= events_path() %>.json',
            select: function(event, ui) {
                $('#autocomplete').val(ui.item.name);
                return false;
            },
            focus: function(event, ui) {
                $('#autocomplete').val(ui.item.name);
                return false;
            }
        })
        .data( "autocomplete" )._renderItem = function( ul, item ) {
            return $( "<li></li>" )
            .data( "item.autocomplete", item )
            .append( "<a>" + item.name + "</a>" )
            .appendTo( ul );
        };
	}
);

function select(){
  
	if(ajax){
		return;
	}
	search = 0;
	filter = (this).getAttribute("alt");
	valoffset = 0;
	$('#autocomplete').val('');
	$('.event_list').empty();
	ajax_call();
}

function search_button(){
	if($('#autocomplete').val()==''){
		search = 0;
		return;
	}
	else{
		search = $('#autocomplete').val();
	}
	valoffset = 0;
	filter = 0;
	$('.event_list').empty();
	ajax_call();
}

function ajax_call(){
	putImage();
	$.ajax({ url: 'refreshList/'+valoffset+'/'+filter+'/'+search, 
		success: function(data) {					   
			$('.event_list').append(data);
			removeImage();			    
		}
	});
}

function putImage(){
	ajax = true;
	$('#img-cont').append('<img src="<%= asset_path 'ajax-loader.gif' %>" class="ajax-wait-lists" >');
}

function removeImage(){
	ajax = false;
	$('.ajax-wait-lists').remove();
}

$(window).scroll(function(){
	if(ajax){
		return;
	}
	if  ($(window).scrollTop() == $(document).height() - $(window).height()){			
		if(valoffset < <%= Event.count %>){						
			valoffset = valoffset + 10;						
		ajax_call();			   
	}			  
}
			
});
</script>



  
<div class="navbar">
  <div class="navbar-inner">
    <div class="btn-group">
      <% Tag.all.each do |tag|%> 
        <button class="btn filter" alt="<%=tag.id%>" ><%=t('tags.'+ tag.name)%></button> 
      <% end %>
    </div>
  </div>
</div>
<div class="well">
<div class="input-append">
  <div class="search">  
  <input class="span2" id="autocomplete" size="16" type="text"><button class="btn btn-info" type="button" onclick= search_button() ><%=t('search.label')%></button>
</div>
</div>
</div>

<div class="event_list" >
<% @events.each do |event|  %>



<div class="listObject">
	
   <div class="photo">
   	<% if event.picture %>
   	<%= image_tag event.picture %>
   	<%else %>
   	<%= image_tag "event_standar.png"%>
   	<%end%>
	
	</div>
	
	<div class="title">
	<%= link_to event.name, event %>
	</div>
	
	<div class="date">
	<% if event.start_time %>
	<%= Time.at(event.start_time).strftime(t('time.formats.short')) %>
	<%end %> |
	<% if event.end_time %>
	<%= Time.at(event.end_time).strftime(t('time.formats.short')) %> 
	<%end %>
	</div>
	
	
	</div>



<% end %>

</div>


<% content_for :left do %>
<div id="img-cont"></div>

<div class="list_cat">

</div>

<% end %>