<div class="dock" id="dock">
  <div class="dock-container">
  <a class="dock-item"><img src="<%= asset_path 'Filters/today.png' %>" alt="today" class="select_top"/><span><%=t('filter.today')%></span></a> 
  <a class="dock-item"><img src="<%= asset_path 'Filters/week.png' %>" alt="week" class="menu_top"/><span><%=t('filter.week')%></span></a> 
  <a class="dock-item"><img src="<%= asset_path 'Filters/weekend.png' %>" alt="weekend" class="menu_top"/><span><%=t('filter.weekend')%></span></a> 
</div>
</div>
<br />
<%= gmaps(:map_options => {:auto_adjust => false, :detect_location => true, :center_on_user => true, :auto_zoom => false, :zoom => 15}, :markers => {:data => @json, :options => {:do_clustering=> true, :clusterer_maxZoom=> 18} }, :circles => { :data => @circles_json, :options => {fillColor: "#000",fillOpacity: 0.25}}) %>
<br />
<div class="dock" id="dock2">
  <div class="dock-container2">
  <% Tag.all.each do |tag|%>
  <a class="dock-item2" ><span><%=t('tags.'+ tag.name)%></span><img src="<%= asset_path 'Filters/'+tag.name+'.png' %>" alt="<%= tag.id %>" class="menu"/></a>
  <% end %>
  </div>
</div>
<%= link_to 'New Event', new_event_path %>
<div id="slider"></div>
<div id="img-cont"></div>
<script type="text/javascript">
	var ajax = false;
	var lat = 0;
	var lon = 0;

$(document).ready(
		function(){
	Gmaps.map.callback = function() {initialize();}
});


		function initialize()
		{
		//html5 geolocalization
		         if(navigator.geolocation) {
    				navigator.geolocation.getCurrentPosition(geo_success);
  			}
  		//Filters
  			$('#dock').Fisheye(
				{
					maxWidth: 50,
					items: 'a',
					itemsText: 'span',
					container: '.dock-container',
					itemWidth: 40,
					proximity: 90,
					halign : 'center'
				}
			)
			$('#dock2').Fisheye(
				{
					maxWidth: 60,
					items: 'a',
					itemsText: 'span',
					container: '.dock-container2',
					itemWidth: 40,
					proximity: 80,
					alignment : 'left',
					valign: 'bottom',
					halign : 'center'
				}
			)
		//Filter events
			$('.menu').click (select);
			$('.menu_top').click (select_top);
			$('.select_top').click (select_top);
			
		//Slider
			$('#slider').slider({ 
				max: 45,
				min: 5,
				change: function(event, ui) { 
					filters();
				},
				slide: alignCircle
		 	});	


		}
	
	function geo_success(position)
  	{
    		Gmaps.map.createMarker({
                        Lat: position.coords.latitude,
                       	Lng: position.coords.longitude, 
                        rich_marker: null, 
                        marker_picture: "<%= asset_path 'position.png' %>",
                        marker_width: 60,
   			marker_height: 80,
   			marker_anchor: null,
   			shadow_anchor: null,
   			shadow_picture: null,
   			shadow_width: null,
   			shadow_height: null
                 });
                lat = position.coords.latitude;
                lon = position.coords.longitude;
    		set_center(position);
    		filters();
  	}
  			
  	function set_center(position)
  	{
  		Gmaps.map.serviceObject.setCenter(new google.maps.LatLng(position.coords.latitude,position.coords.longitude));
  	}

  	function select(){
		if(ajax){
			return;
		}
				
		if((this).getAttribute("alt")== "<%= Tag.find_by_name("todos").id %>")
		{
			if((this).getAttribute("class")== "menu")
			{
				$('.menu').each(function(index) {  (this).setAttribute("class", "select");});
			}
			else
			{
				$('.select').each(function(index) { (this).setAttribute("class", "menu");});
			}
		}
		else if((this).getAttribute("class")== "menu"  )
		{
		    (this).setAttribute("class", "select");
		}
		else
		{
		    (this).setAttribute("class", "menu");
		}
		filters();
	}

	function select_top(){
		if(ajax){
			return;
		}
			
		if((this).getAttribute("class")== "menu_top"  )
		{
		    $('.select_top').each(function(){(this).setAttribute("class", "menu_top")});
		    (this).setAttribute("class", "select_top");
		    filters();
		}
	}
			
	function filters(){
	        alignCircle();
		 var count = 0;
		 var items = "data=";
		$('.select').each(function(index) {
			items = items + (this).getAttribute("alt") + ",";
			count++;
		});
		if(count == 0 ){items = []}
		items = items + "&time=";
		$('.select_top').each(function(index) {
			items = items + (this).getAttribute("alt");
		});
		items = items + "&radius=" + $('#slider').slider("option", "value");
		var position = {coords: {latitude: Gmaps.map.map.getCenter().lat(), longitude: Gmaps.map.map.getCenter().lng()} }
		items = items + "&lat=" + lat + "&lon=" + lon;
		putImage();
		$.getJSON('/filter.json', items , function(data){
        				Gmaps.map.replaceMarkers(data);
       					set_center(position);
          				removeImage();

       		});	
	}

	function putImage(){
		ajax = true;
		$('#img-cont').append('<img src="<%= asset_path 'ajax-loader.gif' %>" class="ajax-wait" >');
	}

	function removeImage(){
		ajax = false;
		$('.ajax-wait').remove();
	}

	function alignCircle (event, ui){
	        var radius = $('#slider').slider("option", "value");
	        if(radius == 0) {radius = 5;}
		Gmaps.map.circles[0].serviceObject.setRadius(radius * 1.609344 * 1000);
		Gmaps.map.circles[0].serviceObject.setCenter(new google.maps.LatLng(lat,lon));
	}




	
	
	

</script>
