
<style>
  .map_container {
  	float:right;
  	margin-right: 20px;
  padding: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc #ccc #999 #ccc;
  -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
  width: 500px;
}

.gmaps4rails_map {
  width: 500px;
  height: 200px;
}


</style>

<p id="notice"><%= notice %></p>

<div class="show_general">
<div class="show_picture">
	<% if @event.picture != nil %>
<%= image_tag @event.picture[0..@event.picture.length - 6] + "n.jpg" %>

<% end %>
</div>


  
  <div class="show_name">
  	<h2>
  <%= @event.name %>
</h2>
</div>

<div class="show_time">
	<% if @event.start_time %>
	<%= Time.at(@event.start_time).strftime(t('time.formats.short')) %>
	<%end %> 
	<% if @event.end_time %>
	|
	<%= Time.at(@event.end_time).strftime(t('time.formats.short')) %> 
	<%end %>
	</div>




<div class="show_description">
	<% if @event.description != nil %>
	<%= @event.description %>
	<% end %>
	</div>
	
	</div>
	
	<div class="show_location">

  <div class="show_address">
  	<h3>
  <%= @event.address %>
  </h3>
  </div>

<% if @event.latitude != nil %>
<div class="show_map">
<%= gmaps4rails(@json) %>
</div>
<% end %>

</div>



