<!-- Setear JS y CSS necesarios -->
<%- content_for(:head) do %>
<%= stylesheet_link_tag 'application' %>
<%= stylesheet_link_tag 'events' %>
<%= stylesheet_link_tag 'gmaps4rails' %>
<%= javascript_include_tag 'application' %>
<%= javascript_include_tag 'events' %>
<%= javascript_include_tag 'jquery.easing.1.3' %>
<%= javascript_include_tag 'bootstrap.min' %>


<script type="text/javascript"
    src="http://plugins.learningjquery.com/expander/jquery.expander.js">
    </script>
<%- end %>

<script type="text/javascript">
var ajax = true;
var added = false;
<% if @user %>
  <% if @user.events.exists?(@event) %>
    added = true;
  <% end %>
<% end %>

function modal(header, content, footer){

  $('#myModalLabel').html(header);
  $('.modal-body').html(content);
  $('.modal-footer').html(footer);
  $('#myModal').modal('show');
}


$(document).ready(function() {
  

$("#gender_start").click(function() {
  $("#gender").replaceWith('<div id="gender"><img src="../assets/ajax-loader.gif" /></div>')
   $.ajax({
  url: '../extrainfo/<%= @event.fb_id %>',
  success: function(data) {
   $("#gender").replaceWith(data);
  }
});
  
});

<% if session[:user_id] %>
$("#extra_info_bar").replaceWith('<div id="gender"><img src="../assets/ajax-loader.gif" /></div>')
   $.ajax({
  url: '../extrainfo/<%= @event.fb_id %>',
  success: function(data) {
   $("#gender").replaceWith(data);
  }
});

<% end %>


$("#gender_login").click(function() {

  modal('<%= t("dialogs.login") %>', '<%= link_to image_tag('login.png'), @auth_url, :class=>"button"%>', '<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>');
});

$("#add").click(function() {
  if(ajax){
    if(!added){
      ajax = false;
      $('.btn').button('loading');

      $.ajax({
        url: '../add_to_list/<%= @event.id %>',
        success: function(data) {
          $('.btn').button('reset');
          $('.btn').text('<%= t('personal.remove') %>');
          ajax = true;
          added = true;
        }
      });
    }
    else{
      ajax = false;
      $('.btn').button('loading');

      $.ajax({
        url: '../remove_from_list/<%= @event.id %>',
        success: function(data) {
          $('.btn').button('reset');
          $('.btn').text('<%= t('personal.add') %>');
          ajax = true;
          added = false;
        }
      });
    }
  }
});

});
</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<style>
  .map_container {
  	float:right;
  	margin-right: 20px;
  padding: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc #ccc #999 #ccc;
  -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
  width: 500px;
  position: inherit;
}

.gmaps4rails_map {
  width: 500px;
  height: 200px;
}


</style>

  

<p id="notice"><%= notice %></p>

<div class="show_general">
<div class="show_picture">
	<% if @event.picture != nil %>
<%= image_tag @event.picture[0..@event.picture.length - 6] + "n.jpg" %>

<% end %>
</div>


  
  <div class="show_name">
    <p><%= @event.name[0..90] %></p>
  </div>

<div class="show_time">
	<% if @event.start_time %>
	<%= Time.at(@event.start_time).strftime(t('time.formats.short')) %>
	<%end %> 
	<% if @event.end_time %>
	|
	<%= Time.at(@event.end_time).strftime(t('time.formats.short')) %> 
	<%end %>
	</div>



<div class="show_description">
	<% if @event.description != nil %>
	<%= simple_format(@event.description) %>
	<% end %>
	</div>



<div class="well show_left show_full_bar" id="extra_info_bar" >
  <div class="alert fade in show_half_bar show_left">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong><%= t('show.extra_info') %></strong> <%= t('show.extra_details') %>
          </div>
<div class="show_friends_login">
    
    <div id="gender">
      <div id="gender_login">
         <div class="gender">
          <%= image_tag('event_show/man.png', :size => '35x35') %>
          <label>?</label>
        </div>
        <div class="gender">
          <%= image_tag('event_show/women.png', :size => '35x35') %>
          <label>
          ?
          </label>
        </div>
      </div>
</div>

  </div>

</div>

  




  <div class="show_location">
    <% if session[:user_id]  %>
     
    <% end %>
    
  <div class="show_address">
    <legend>
  <%= @event.address %>
  <div class="fb-send" data-href="http://<%= request.host+request.fullpath %>"></div>
  </legend>
  </div>

<% if @event.latitude != nil %>
<div class="show_map">
<iframe width="600" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.cl/maps?q=<%= @event.latitude.to_s + "," + @event.longitude.to_s %>&amp;num=1&amp;t=m&amp;hl=es&amp;ie=UTF8&amp;ll=<%= @event.latitude.to_s + "," + @event.longitude.to_s %>&amp;spn=0.014333,0.034246&amp;z=14&amp;output=embed"></iframe><br /><small>
</div>
<% end %>

</div>	
	</div>


<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>





